# Data and reference files
data/raw/
data/reference/
results/
*.bam
*.bai
*.fastq.gz
*.fq.gz
*.vcf.gz
*.tbi
*.crai

# Conda / Python
__pycache__/
*.pyc
.snakemake/
.conda/

# OS
.DS_Store

# Root 
germline_trio_vc.code-workspace


